*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

html, body, #root, .App{
  background-color: rgb(52, 51, 54);
  margin: 0;
  position: relative;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

input, textarea{
  text-indent: 10px;
}